# Groupby Operations and Multi-level Index

A `groupby()` operation allows us to examine data on a **per category** basis

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/mpg.csv')

In [3]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [6]:
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model_year        int64
origin            int64
name             object
dtype: object

In [14]:
horse_name = df.groupby(['horsepower', 'name']).mean()

In [15]:
horse_name

                                               mpg  cylinders  displacement  \
horsepower name
100        amc gremlin                        19.0        6.0         232.0
           amc hornet                         18.5        6.0         232.0
           amc matador                        18.0        6.0         232.0
           chevrolet chevelle malibu          17.0        6.0         250.0
           chevrolet chevelle malibu classic  16.0        6.0         250.0
...                                            ...        ...           ...
?          ford maverick                      21.0        6.0         200.0
           ford mustang cobra                 23.6        4.0         140.0
           ford pinto                         25.0        4.0          98.0
           renault 18i                        34.5        4.0         100.0
           renault lecar deluxe               40.9        4.0          85.0

                                              weight  acceleration  \
horsepower name
100        amc gremlin                        2779.0     14.666667
           amc hornet                         2923.0     16.000000
           amc matador                        3288.0     15.500000
           chevrolet chevelle malibu          3329.0     15.500000
           chevrolet chevelle malibu classic  3781.0     17.000000
...                                              ...           ...
?          ford maverick                      2875.0     17.000000
           ford mustang cobra                 2905.0     14.300000
           ford pinto                         2046.0     19.000000
           renault 18i                        2320.0     15.800000
           renault lecar deluxe               1835.0     17.300000

                                              model_year  origin
horsepower name
100        amc gremlin                              73.0     1.0
           amc hornet                               73.5     1.0
           amc matador                              71.0     1.0
           chevrolet chevelle malibu                71.0     1.0
           chevrolet chevelle malibu classic        74.0     1.0
...                                                  ...     ...
?          ford maverick                            74.0     1.0
           ford mustang cobra                       80.0     1.0
           ford pinto                               71.0     1.0
           renault 18i                              81.0     2.0
           renault lecar deluxe                     80.0     2.0

[373 rows x 7 columns]

In [16]:
horse_name.index

MultiIndex([('100',                       'amc gremlin'),
            ('100',                        'amc hornet'),
            ('100',                       'amc matador'),
            ('100',         'chevrolet chevelle malibu'),
            ('100', 'chevrolet chevelle malibu classic'),
            ('100',                    'chevrolet nova'),
            ('100',             'chevrolet nova custom'),
            ('100',                      'datsun 200sx'),
            ('100',                    'dodge aspen se'),
            ('100',                     'mazda rx-7 gs'),
            ...
            ( '97',                   'mazda rx2 coupe'),
            ( '97',       'toyouta corona mark ii (sw)'),
            ( '98',                      'ford granada'),
            ( '98',                       'volvo 244dl'),
            (  '?',                    'amc concord dl'),
            (  '?',                     'ford maverick'),
            (  '?',                'ford mustang cobra'),
            (  '?',                        'ford pinto'),
            (  '?',                       'renault 18i'),
            (  '?',              'renault lecar deluxe')],
           names=['horsepower', 'name'], length=373)

In [23]:
df['horsepower'].value_counts()

horsepower
150    22
90     20
88     19
110    18
100    17
       ..
61      1
93      1
148     1
152     1
82      1
Name: count, Length: 94, dtype: int64